/*  OWL CAROUSEL */

.owl-carousel .nav-btn{
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 100px !important;
      font-size: 34px;
  }
 
  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0.2;
  }
 
  .owl-carousel .prev-slide{
      left: 0px;
  }
  .owl-carousel .next-slide{
      right: 0px;
     
  }
  .owl-carousel .prev-slide:hover{
     background-position: 0px -53px;
  }
  .owl-carousel .next-slide:hover{
    background-position: -24px -53px;
  }
 
  span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
  }
  span.img-text:hover {
    color: #2caae1;
  }


.owl-carousel-nav{
	padding-left: 36px;
	padding-right: 36px;
}