.list-event .date{
	text-align: center;
}

.list-event .day{
	font-size: 36px;
	font-weight: bold;
	color: #CB0000;
	line-height: 40px;
}

.list-event .month{
	font-size: 15px;
	font-weight: 400;
	color: #CB0000;
}

.list-event .week{
	font-size: 15px;
	font-weight: 400;
	color: #727171;
}


@media (max-width: 768px){
	.list-event .date{
		text-align: left;
	}
	.list-event .day{
		font-size: 15px;
		font-weight: 400;
		line-height: 15px;
	}
}