/*header */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 15px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 15px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 15px; 
}

input[type="text"], textarea {
	outline: none;
	box-shadow:none !important;
}

.btn:focus {
  outline: none;
  box-shadow:none !important;
}


nav.navbar {
	background-color: #F8F8F8 !important;
}


nav.navbar a {
	font-size: 14px;
	font-weight: 600;	
}

nav.navbar button.anuncie {
	border-radius: 20px !important;
	padding: 5px 20px;
	font-family: 'Montserrat' !important;
	font-weight: 600;	
}

#modalPesquisar .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;   
}

#modalPesquisar .modal-content {
	background-color: transparent !important;
	border: 0;
}

#modalPesquisar .modal-content .modal-body button {
	background-color: #06385C !important;
	border-color: #06385C !important;

}

#modalPesquisar .modal-content .modal-body button:hover {
	background-color: #104871 !important;
	border-color: #104871 !important;
}

@media screen and (max-width: 991.98px) {
	nav.navbar a.navbar-brand {
		max-width: 50% !important; 	
		margin: 0 auto !important;
		text-align: center !important;
	}

	nav.navbar ul.anuncioelogin  {		
		float: left;
	}

	nav.navbar ul.anuncioelogin  button.anuncie {
		border: 0;
		padding: 0;
	}

	nav.navbar ul.anuncioelogin li.entrar {
		text-align: left !important;
		width: 100% !important;

	}
}

/* Mega Menu*/
.megamenu {
  position: static;
  
}

.megamenu .dropdown-menu {
  padding: 30px 20px;
  border: none;
  width: 100%;
  left: 50% !important;
  right: auto !important;
  transform: translate(-50%, 0) !important;
  background-color: #F8F8F8;
  border-top: 1px solid #D8D8D8;
}

nav.navbar a.nav-link {
	font-family: 'Montserrat' !important;
}

.megamenu .dropdown-menu a h6{
	font-family: 'Open Sans' !important;
}

.megamenu .dropdown-menu div.maisInformacoes button.contaPessoal {
	background-color: #CB0000;
	border-color: #CB0000;
}

.megamenu .dropdown-menu div.maisInformacoes button.contaPessoal:hover {
	background-color: #D13131;
	border-color: #D13131;
}

.megamenu .dropdown-menu div.maisInformacoes button.contaEmpresa {
	background-color: #337AB7;
	border-color: #337AB7;
}

.megamenu .dropdown-menu div.maisInformacoes button.contaEmpresa:hover {
	background-color: #539EDE;
	border-color: #539EDE;
}

.megamenu .dropdown-menu div.maisInformacoes button.criarContaPessoalGratis {
	background-color: transparent;
	border: 2px solid #ADADAD;	
	display: block;
	margin: auto;
}

.megamenu .dropdown-menu div.maisInformacoes .escolha {
 	margin-top: 20px;
 	margin-bottom: 20px;
 	text-align: center;
 	color: #CECECE;
}

.megamenu .dropdown-menu div.guiaDeEmpresas .encontrar span.fa-search {
	padding-top: 13px;
	padding-left: 5px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #CB0000;
	background-color: #ffffff !important;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	color: #D3D9DE;
	width: 35px;
	border-right: 0px;
}

.megamenu .dropdown-menu div.guiaDeEmpresas .encontrar span.fa-search::after {
	content: "|";
	padding-left: 5px;
}

.megamenu .dropdown-menu div.guiaDeEmpresas .encontrar input {
	border: 1px solid #CB0000;
	border-left: none;
}

.megamenu .dropdown-menu div.guiaDeEmpresas .encontrar button {
	background-color: #CB0000;
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
	border: 1px solid #CB0000;
}

.megamenu .dropdown-menu div.guiaDeEmpresas .encontrar p{
	font-size: 13px;
}

.megamenu .dropdown-menu div.guiaDeEmpresas .encontrar h4 {
	font-size: 17px;
	font-weight: 600;
	font-family: 'Montserrat';
	text-align: center;
}

.megamenu .dropdown-menu div.guiaDeEmpresas .encontrar div.anuncieAqui {
	margin: 0 auto !important;
	text-align: center !important;
	
}

.megamenu .dropdown-menu div.guiaDeEmpresas .encontrar button.anuncieNoGuiaTaubate {
	background-color: #fff;
	border: 1px solid #CB0000;
	border-radius: 15px;
	color: #CB0000;
}

/* Guia de Empresas Tela Pequena Encontrar
.megamenu .dropdown-menu .encontrarTelasPequenas span.fa-search {
	padding-top: 13px;
	padding-left: 5px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #CB0000;
	background-color: #ffffff !important;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	color: #D3D9DE;
	width: 35px;
	border-right: 0px;
}

.megamenu .dropdown-menu .encontrarTelasPequenas span.fa-search::after {
	content: "|";
	padding-left: 5px;
}

.megamenu .dropdown-menu .encontrarTelasPequenas input {
	border: 1px solid #CB0000;
	border-left: none;
}

.megamenu .dropdown-menu .encontrarTelasPequenas button {
	background-color: #CB0000;
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
	border: 1px solid #CB0000;
}*/


@media screen and (min-width: 1771px)  {
	.megamenu .dropdown-menu div.guiaDeEmpresas .encontrar div.anuncieAqui h5{
	display: block !important;
	
	}
}



@media screen and (min-width: 1771px)  {
	.megamenu .dropdown-menu div.guiaDeEmpresas .encontrar div.anuncieAqui h5{
	display: block !important;
	
	}
}

@media screen and (min-width: 1400px) {
	.megamenu .dropdown-menu div.diminuirMenuTelaGrande {
		width: 80% !important;
		margin: 0 auto !important;
	}

}